body{
    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    color: cornsilk;
}
h1{
    font-size: 50px;
    text-align: center;
}
.photo{
    width: 300px;
}

.p-center{
    text-align: center;

}